@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*  font-family: 'Lexend Deca', sans-serif; */ 
/*  font-family: 'Big Shoulders Display', cursive;  */


:root {
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75); /* paragraphs*/
    --Verylightgray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--Verylightgray);
}

.container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.card-1,
.card-2,
.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 600px;
    padding: 70px 55px;
    
}

.card-1 {
    background-color: var(--Brightorange);
}

.card-2 {
    background-color: var(--Darkcyan);
}

.card-3 {
    background-color: var(--Verydarkcyan);
}

.card-1 img,
.card-2 img,
.card-3 img {
    width: 75px;
}

.card-1 h1,
.card-2 h1,
.card-3 h1 {
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 3.5rem;
    color: var(--Verylightgray)
}

.card-1 p,
.card-2 p,
.card-3 p {
    font-size: 1.5rem;
    line-height: 1.7;
    color: var(--Transparentwhite);
}

.card-1 button,
.card-2 button,
.card-3 button {
    width: 130px;
    height: 45px;
    border-radius: 22.5px;
    color: var(--Brightorange);
    border: none;
    background-color: var(--Verylightgray);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 60px;
}
.card-1 button {
    color: var(--Brightorange);
}
.card-2 button {
    color: var(--Darkcyan);
}
.card-3 button {
    color: var(--Verydarkcyan);
}

.card-1 button:hover,
.card-2 button:hover,
.card-3 button:hover {
    background-color: transparent;
    border: 2px solid var(--Verylightgray);
    color: var(--Verylightgray);
    cursor: pointer;
}






/* MOBILE */

@media screen and (max-width: 375px) {
    body {
        display: block;
    
        width: auto; /* change */ 
        height: 2000px; /* change */ 
    
        background-color: var(--Verylightgray);
    }
    
    .container {
        flex-direction: column;
        border-radius: 15px;
        margin: 50px auto 0 auto;
        width: 325px;
    }
    
    .card-1,
    .card-2,
    .card-3 {
        width: 325px;
        height: 450px;
        padding: 50px 55px;
    }
    
    .card-1 button,
    .card-2 button,
    .card-3 button {
        margin-top: 0; /* change */
    }
}
