@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 1440px;
    height: 700px;

    border-radius: 20px;
    background-color: var(--Dark-cyan);
    background-image: url(images/bg-pattern-bottom.svg),url(images/bg-pattern-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 60%,60%;
    background-position: 800px 350px,-200px -400px;

}

.container .card {

    background-color: white;

    border-radius: 12px;
    overflow: hidden;
    
}

.container .card .row-1 {
    position: relative;
}

.container .card .row-1 img:last-child {

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 50%;
    border: 5px solid white;
}

.container .card .row-2 {
    padding: 70px 0 30px 0;
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.25);
}

.container .card .row-2 h3 {
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue);
}

.container .card .row-2 h3 span {
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.container .card .row-2 .city {
    display: block;
    margin-top: 7px;
    font-size: 1.2rem;
    color: var(--Dark-grayish-blue);
}


.container .card .row-3 {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.container .card .row-3 span {
    display: block;
    text-align: center;
}

.container .card .row-3 .information-1 span:first-child,
.container .card .row-3 .information-2 span:first-child,
.container .card .row-3 .information-3 span:first-child {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}

.container .card .row-3 .information-1 span:last-child,
.container .card .row-3 .information-2 span:last-child,
.container .card .row-3 .information-3 span:last-child {
    margin-top: 5px;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}




@media screen and (max-width: 375px) {

    body {
        background-color: var(--Dark-cyan);
    }

    .container {
        width: 375px;
        height: 100vh;
        
        border-radius: 0px;
        background-color: var(--Dark-cyan);
        background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 150%,150%;
        background-position: -350px -250px ,175px 400px ;
    
    }

    .container .card {
        background-color: white;

        border-radius: 12px;
        overflow: hidden;
        
    }
    
    .container .card .row-1 img:first-child {
        width: 325px;
    }

}
