@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --Red:           hsl(  0, 78%, 62%);
    --Cyan:          hsl(180, 62%, 55%);
    --Orange:        hsl( 34, 97%, 64%);
    --Blue:          hsl(212, 86%, 64%);
    --VeryDarkBlue:  hsl(234, 12%, 34%);
    --GrayishBlue:   hsl(229,  6%, 66%);
    --VeryLightGray: hsl(  0,  0%, 98%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* card */
.card {
    width: 1440px;
}


/* card-top */
.top {
    width: max-content;
    margin: 0 auto;
}
.top-text1,
.top-text2,
.top-text3 {
    width: max-content;
    margin: 0 auto;
}

.top-text1 {
    font-weight: 200;
    color: var(--VeryDarkBlue);
}
.top-text2 {
    font-weight: 600;
    color: var(--VeryDarkBlue);
}
.top-text3 {
    color: var(--GrayishBlue);
    width: 550px;
    text-align: center;
    margin-top: 18px;
}













/* card-bottom */
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
}



.column1 {
    margin: auto 0;
}

.column3 {
    margin: auto 0;
}
.column1-card1,
.column2-card1,
.column2-card2,
.column3-card1 {
    border-radius: 4px;
    width: 350px;
    padding: 20px;
    box-shadow: hsla(212, 86%, 64%,0.2) 0px 18px 35px -10px;
}

.column1-card1 {
    border-top: 3px solid var(--Cyan);
}
.column2-card1 {
    border-top: 3px solid var(--Red);
    padding-bottom: 0;
    margin-bottom: 25px;
}
.column2-card2 {
    border-top: 3px solid var(--Orange);
}
.column3-card1 {
    border-top: 3px solid var(--Blue);
}

.column1-card1 h3,
.column2-card1 h3,
.column2-card2 h3,
.column3-card1 h3 {
    color: var(--VeryDarkBlue);
}

.column1-card1 p,
.column2-card1 p,
.column2-card2 p,
.column3-card1 p {
    font-size: 15px;
    color: var(--GrayishBlue);
    margin-top: 8px;
}
.column1-card1 img,
.column2-card1 img,
.column2-card2 img,
.column3-card1 img {
    margin-left: calc(100% - 64px);
    margin-top: 40px;
    margin-bottom: 30px;
}



@media screen and (max-width: 375px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        min-width: 375px;;
    }

    .card {
        width: 365px;
    }

    .top {
        width: 340px;
        padding-top: 80px;
    }
    .top-text1,
    .top-text2,
    .top-text3 {
        width: 340px;
        margin: 0;
       text-align: center;
    }
    .top-text1,
    .top-text2 {
        font-size: 26px;
    }

    .top-text3 {
        margin-top: 26px;
        margin-bottom: 75px;
    }






    .bottom {
        width: 365px;
        flex-direction: column;
    }

    .column1,
    .column2,
    .column3 {
        width: 340px;
    }
    .column1-card1,
    .column2-card1,
    .column2-card2,
    .column3-card1 {
        width: 340px;
    }
    .column1-card1,
    .column2-card2,
    .column2-card1  {
        margin-bottom: 30px;
    }
    .column3-card1 {
        margin-bottom: 80px;
    }


    
}