@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');


:root {
    --Soft-red:                   hsl(14,  88%, 65%);
    --Soft-blue:                  hsl(240, 73%, 65%); /* gradient */
    --Soft-violet:                hsl(273, 75%, 66%); /* gradient */
    --Very-dark-grayish-blue:     hsl(237, 12%, 33%);
    --Dark-grayish-blue:          hsl(240, 6%,  50%);
    --Light-grayish-blue:         hsl(240, 5%,  91%); /* dividers */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--Soft-violet),var(--Soft-blue) );
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
}


 /* left */
.container .left {
    width: 375px;
    height: 399px;
    background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 97%, 200%;
    background-position: -60px, -450px -230px;
    position: relative;
    
}

.container .left::before {
    content: url(images/illustration-box-desktop.svg);
    position: absolute;
    top: 140px;
    left: -100px;
    z-index: 1;
}


/* right */
.container .right {
    width: 375px;
    padding: 50px 90px 65px 0;
}

.container .right .row1,
.container .right .row3,
.container .right .row4,
.container .right .row5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

.container .right h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.container .right img {
    width: 10px;
    height: 7px;
}

.container .right .row1 h3,
.container .right .row3 h3,
.container .right .row4 h3,
.container .right .row5 h3 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.2rem;
    font-weight: 500;
}

.container .right .row2 {
    padding: 12px 0;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

.container .right .row2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right .row2 h4 {
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 12px;
}

.container .right .row2 div h3 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.2rem;
    font-weight: 700;
}

.container .right .row2 div img {
    transform: rotate(180deg);
}


/* hover */
.container .right h3:hover {
    color: var(--Soft-red);
    cursor: pointer;
}

.container .right .row2 div h3:hover {
    color: var(--Soft-red);
    cursor: pointer;
}




@media screen and (max-width: 375px) {
    
    .container {
        flex-direction: column;
        
    }
    .container .right h1 {
        text-align: center;
    }

    .container .left {
        background-image: none;
        width: 325px;
        height: 150px;
        background-image: url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: top center;
    }

    .container .left::before {
        content: url(images/illustration-woman-online-mobile.svg);
        top: -105px;
        left: 48px;
        width: 70%;
    }

    .container .right {
        width: 325px;
        height: auto;
        padding:  0 25px 40px 25px;
    }

    .container .right .row2 h4 {
        font-size: 1.2rem;
    }
}
